In [96]:
!pip install darts

Requirement already satisfied: darts in /usr/local/lib/python3.7/dist-packages (0.15.0)
Requirement already satisfied: pandas>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from darts) (1.1.5)
Requirement already satisfied: tensorboard>=2.4.0 in /usr/local/lib/python3.7/dist-packages (from darts) (2.7.0)
Requirement already satisfied: xarray>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from darts) (0.18.2)
Requirement already satisfied: pmdarima>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from darts) (1.8.4)
Requirement already satisfied: matplotlib>=3.3.0 in /usr/local/lib/python3.7/dist-packages (from darts) (3.5.1)
Requirement already satisfied: statsmodels>=0.13.0 in /usr/local/lib/python3.7/dist-packages (from darts) (0.13.1)
Requirement already satisfied: ipython>=7.0.0 in /usr/local/lib/python3.7/dist-packages (from darts) (7.30.1)
Requirement already satisfied: pystan<3.0.0.0,>=2.19.1.1 in /usr/local/lib/python3.7/dist-packages (from darts) (2.19.1.1)
Requirement already satisfied: filterpy>=1.4.5 in /usr/local/lib/python3.7/dist-packages (from darts) (1.4.5)
Requirement already satisfied: requests>=2.22.0 in /usr/local/lib/python3.7/dist-packages (from darts) (2.23.0)
Requirement already satisfied: tqdm>=4.60.0 in /usr/local/lib/python3.7/dist-packages (from darts) (4.62.3)
Requirement already satisfied: scikit-learn>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from darts) (1.0.1)
Requirement already satisfied: lightgbm>=2.2.3 in /usr/local/lib/python3.7/dist-packages (from darts) (2.2.3)
Requirement already satisfied: holidays>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from darts) (0.11.3.1)
Requirement already satisfied: prophet>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from darts) (1.0.1)
Requirement already satisfied: numpy>=1.19.0 in /usr/local/lib/python3.7/dist-packages (from darts) (1.19.5)
Requirement already satisfied: joblib>=0.16.0 in /usr/local/lib/python3.7/dist-packages (from darts) (1.1.0)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from darts) (1.4.1)
Requirement already satisfied: torch>=1.8.0 in /usr/local/lib/python3.7/dist-packages (from darts) (1.10.0+cu111)
Requirement already satisfied: convertdate>=2.3.0 in /usr/local/lib/python3.7/dist-packages (from holidays>=0.11.1->darts) (2.3.2)
Requirement already satisfied: korean-lunar-calendar in /usr/local/lib/python3.7/dist-packages (from holidays>=0.11.1->darts) (0.2.1)
Requirement already satisfied: hijri-converter in /usr/local/lib/python3.7/dist-packages (from holidays>=0.11.1->darts) (2.2.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from holidays>=0.11.1->darts) (2.8.2)
Requirement already satisfied: pymeeus<=1,>=0.3.13 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.3.0->holidays>=0.11.1->darts) (0.5.11)
Requirement already satisfied: pytz>=2014.10 in /usr/local/lib/python3.7/dist-packages (from convertdate>=2.3.0->holidays>=0.11.1->darts) (2018.9)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (0.7.5)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (0.1.3)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (0.2.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (2.6.1)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (4.4.2)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (57.4.0)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (0.18.1)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (5.1.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython>=7.0.0->darts) (3.0.24)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.16->ipython>=7.0.0->darts) (0.8.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->darts) (3.0.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->darts) (1.3.2)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->darts) (4.28.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->darts) (0.11.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->darts) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.3.0->darts) (7.1.2)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect>4.3->ipython>=7.0.0->darts) (0.7.0)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.7/dist-packages (from pmdarima>=1.8.0->darts) (0.29.24)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from pmdarima>=1.8.0->darts) (1.24.3)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=7.0.0->darts) (0.2.5)
Requirement already satisfied: cmdstanpy==0.9.68 in /usr/local/lib/python3.7/dist-packages (from prophet>=1.0.0->darts) (0.9.68)
Requirement already satisfied: LunarCalendar>=0.0.9 in /usr/local/lib/python3.7/dist-packages (from prophet>=1.0.0->darts) (0.0.9)
Requirement already satisfied: setuptools-git>=1.2 in /usr/local/lib/python3.7/dist-packages (from prophet>=1.0.0->darts) (1.2)
Requirement already satisfied: ujson in /usr/local/lib/python3.7/dist-packages (from cmdstanpy==0.9.68->prophet>=1.0.0->darts) (5.1.0)
Requirement already satisfied: ephem>=3.7.5.3 in /usr/local/lib/python3.7/dist-packages (from LunarCalendar>=0.0.9->prophet>=1.0.0->darts) (4.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->holidays>=0.11.1->darts) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->darts) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->darts) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.22.0->darts) (2.10)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.1->darts) (3.0.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.13.0->darts) (0.5.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (1.35.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (1.0.1)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (1.42.0)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (0.6.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (0.37.0)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (0.12.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (3.3.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (1.8.0)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (3.17.3)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard>=2.4.0->darts) (0.4.6)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.0->darts) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.0->darts) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard>=2.4.0->darts) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.4.0->darts) (1.3.0)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard>=2.4.0->darts) (4.8.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard>=2.4.0->darts) (3.6.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard>=2.4.0->darts) (3.10.0.2)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard>=2.4.0->darts) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard>=2.4.0->darts) (3.1.1)

In [97]:
%matplotlib inline
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd

from darts.dataprocessing.transformers import Scaler
from darts.models import RNNModel, Theta, TCNModel
from sklearn.preprocessing import MinMaxScaler, StandardScaler

from darts.metrics import mape, rmse, r2_score
from darts.utils.statistics import check_seasonality, plot_acf
from darts.utils.timeseries_generation import datetime_attribute_timeseries
from keras.models import Sequential, Model
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.layers import Dense, RepeatVector, TimeDistributed, Flatten
import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from keras import optimizers
from keras.models import Sequential, Model
from keras.layers.convolutional import Conv1D, MaxPooling1D

In [98]:
import sys
import time
import warnings
warnings.filterwarnings("ignore")
import logging
logging.disable(logging.CRITICAL)


EPOCH = 300    
FC_N = 12               # forecast periods
FC_STRIDE = 10
FC_START = "19580801"   # period at which to split training and validation dataset
DROP = 0.1
LEARN = 0.001

In [99]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [100]:

data = pd.read_csv("/content/On-street_Parking_Bay_Sensors (2).csv")

In [101]:
y = pd.get_dummies(data.status, prefix='status')

In [102]:
data_data = pd.concat([data, y], axis=1, join='inner')
display(data_data)

     bay_id st_marker_id  ... status_Present status_Unoccupied
0      1399        1581S  ...              0                 1
1      2242        3930N  ...              0                 1
2      6092       13251S  ...              0                 1
3      9064        9278N  ...              0                 1
4      8979        7891W  ...              0                 1
..      ...          ...  ...            ...               ...
948    2643       10117W  ...              0                 1
949    4422        C7684  ...              0                 1
950    4086        C6286  ...              0                 1
951    4069        C6176  ...              0                 1
952    8335       C7736C  ...              0                 1

[953 rows x 8 columns]

In [103]:
data_data.drop(columns=['status_Unoccupied'], axis = 1, inplace = True)

In [104]:
data_data.drop(columns=['status'], axis = 1, inplace = True)

In [105]:
data_data = data_data.rename(columns={'status_Present': 'status'})

In [106]:
data_data

     bay_id st_marker_id  ...         lon  status
0      1399        1581S  ...  144.963678       0
1      2242        3930N  ...  144.954629       0
2      6092       13251S  ...  144.943152       0
3      9064        9278N  ...  144.969903       0
4      8979        7891W  ...  144.970724       0
..      ...          ...  ...         ...     ...
948    2643       10117W  ...  144.947955       0
949    4422        C7684  ...  144.955215       0
950    4086        C6286  ...  144.950789       0
951    4069        C6176  ...  144.952514       0
952    8335       C7736C  ...  144.950500       0

[953 rows x 6 columns]

In [107]:
df = data_data.copy()

In [108]:
print('Total num of missing values:') 
print(df.status.isna().sum())
print('')

Total num of missing values:
0

In [109]:
df

     bay_id st_marker_id  ...         lon  status
0      1399        1581S  ...  144.963678       0
1      2242        3930N  ...  144.954629       0
2      6092       13251S  ...  144.943152       0
3      9064        9278N  ...  144.969903       0
4      8979        7891W  ...  144.970724       0
..      ...          ...  ...         ...     ...
948    2643       10117W  ...  144.947955       0
949    4422        C7684  ...  144.955215       0
950    4086        C6286  ...  144.950789       0
951    4069        C6176  ...  144.952514       0
952    8335       C7736C  ...  144.950500       0

[953 rows x 6 columns]

In [110]:
df = df.drop(['bay_id', 'lat', 'lon', 'st_marker_id', 'location'], axis = 1)

In [111]:
df

     status
0         0
1         0
2         0
3         0
4         0
..      ...
948       0
949       0
950       0
951       0
952       0

[953 rows x 1 columns]

In [112]:
# Split train data and test data
train_size = int(len(df)*0.7)

train_data = df.iloc[:train_size]
test_data = df.iloc[train_size:]

In [113]:
scaler = MinMaxScaler().fit(train_data)
train_scaled = scaler.transform(train_data)
test_scaled = scaler.transform(test_data)

In [114]:
# Create input dataset
def create_dataset (X, look_back = 1):
    Xs, ys = [], []
 
    for i in range(len(X)-look_back):
        v = X[i:i+look_back]
        Xs.append(v)
        ys.append(X[i+look_back])
 
    return np.array(Xs), np.array(ys)
LOOK_BACK = 30
X_train, y_train = create_dataset(train_scaled,LOOK_BACK)
X_test, y_test = create_dataset(test_scaled,LOOK_BACK)
# Print data shape
print('X_train.shape:', X_train.shape)
print('y_train.shape:', y_train.shape)
print('X_test.shape:', X_test.shape) 
print('y_test.shape:', y_test.shape)

X_train.shape: (637, 30, 1)
y_train.shape: (637, 1)
X_test.shape: (256, 30, 1)
y_test.shape: (256, 1)

In [115]:
    model_TCN = TCNModel(
        input_chunk_length=FC_N+1,
        output_chunk_length=FC_N, 
        n_epochs=EPOCH,
        dropout=DROP,
        dilation_base=2,
        weight_norm=True,
        batch_size=16,
        kernel_size=5,
        num_filters=3,
        optimizer_kwargs={'lr': LEARN},
        log_tensorboard=True,
        force_reset=True,
        random_state=42)

In [116]:
#from tensorflow.keras.optimizers import adam

In [117]:
model_tcn = Sequential()
model_tcn.add(Conv1D(filters=64, kernel_size=2, activation='relu', input_shape=(X_train.shape[1], X_train.shape[2])))
model_tcn.add(MaxPooling1D(pool_size=4))
model_tcn.add(Flatten())
model_tcn.add(Dense(100, activation='relu'))
model_tcn.add(Dense(1))
model_tcn.compile(loss='mse', optimizer= 'adam')
model_tcn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d_3 (Conv1D)           (None, 29, 64)            192

 max_pooling1d_3 (MaxPooling  (None, 7, 64)            0
 1D)

 flatten_3 (Flatten)         (None, 448)               0

 dense_6 (Dense)             (None, 100)               44900

 dense_7 (Dense)             (None, 1)                 101

=================================================================
Total params: 45,193
Trainable params: 45,193
Non-trainable params: 0
_________________________________________________________________

In [118]:
tcn_history = model_tcn.fit(X_train, y_train, validation_data=(X_test, y_test), epochs= 20, verbose=2)

Epoch 1/20
20/20 - 1s - loss: 0.0115 - val_loss: 0.0274 - 879ms/epoch - 44ms/step
Epoch 2/20
20/20 - 0s - loss: 0.0110 - val_loss: 0.0272 - 109ms/epoch - 5ms/step
Epoch 3/20
20/20 - 0s - loss: 0.0110 - val_loss: 0.0273 - 96ms/epoch - 5ms/step
Epoch 4/20
20/20 - 0s - loss: 0.0109 - val_loss: 0.0280 - 92ms/epoch - 5ms/step
Epoch 5/20
20/20 - 0s - loss: 0.0106 - val_loss: 0.0279 - 134ms/epoch - 7ms/step
Epoch 6/20
20/20 - 0s - loss: 0.0107 - val_loss: 0.0271 - 116ms/epoch - 6ms/step
Epoch 7/20
20/20 - 0s - loss: 0.0105 - val_loss: 0.0278 - 206ms/epoch - 10ms/step
Epoch 8/20
20/20 - 0s - loss: 0.0105 - val_loss: 0.0278 - 98ms/epoch - 5ms/step
Epoch 9/20
20/20 - 0s - loss: 0.0105 - val_loss: 0.0275 - 107ms/epoch - 5ms/step
Epoch 10/20
20/20 - 0s - loss: 0.0105 - val_loss: 0.0276 - 80ms/epoch - 4ms/step
Epoch 11/20
20/20 - 0s - loss: 0.0105 - val_loss: 0.0276 - 137ms/epoch - 7ms/step
Epoch 12/20
20/20 - 0s - loss: 0.0104 - val_loss: 0.0279 - 86ms/epoch - 4ms/step
Epoch 13/20
20/20 - 0s - loss: 0.0105 - val_loss: 0.0270 - 143ms/epoch - 7ms/step
Epoch 14/20
20/20 - 0s - loss: 0.0104 - val_loss: 0.0276 - 175ms/epoch - 9ms/step
Epoch 15/20
20/20 - 0s - loss: 0.0103 - val_loss: 0.0277 - 128ms/epoch - 6ms/step
Epoch 16/20
20/20 - 0s - loss: 0.0104 - val_loss: 0.0278 - 97ms/epoch - 5ms/step
Epoch 17/20
20/20 - 0s - loss: 0.0103 - val_loss: 0.0275 - 95ms/epoch - 5ms/step
Epoch 18/20
20/20 - 0s - loss: 0.0103 - val_loss: 0.0271 - 86ms/epoch - 4ms/step
Epoch 19/20
20/20 - 0s - loss: 0.0104 - val_loss: 0.0276 - 170ms/epoch - 8ms/step
Epoch 20/20
20/20 - 0s - loss: 0.0102 - val_loss: 0.0273 - 99ms/epoch - 5ms/step

In [119]:
### Lets Do the prediction and check performance metrics
train_predict=model_tcn.predict(X_train)
test_predict=model_tcn.predict(X_test)

In [120]:
test_predict

array([[ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [-0.01191207],
       [ 0.03895836],
       [ 0.03895836],
       [ 0.03895836],
       [-0.01940687],
       [-0.00757359],
       [-0.00757359],
       [-0.00757359],
       [-0.01782301],
       [-0.00374155],
       [-0.00374155],
       [-0.00374155],
       [ 0.00163765],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00229265],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.00863851],
       [ 0.00479293],
       [ 0.00479293],
       [ 0.00479293],
       [ 0.01188615],
       [ 0.00187707],
       [ 0.00187708],
       [ 0.00187708],
       [-0.00520372],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [ 0.01133057],
       [-0.01191207],
       [ 0.03895836],
       [ 0.03895836],
       [ 0.03895836],
       [-0.01940687],
       [-0.00757359],
       [-0.00757359],
       [-0.00757359],
       [-0.01782301],
       [-0.00374155],
       [-0.00374155],
       [-0.00374155],
       [ 0.00163765],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00220313],
       [ 0.00305516],
       [ 0.00305516],
       [ 0.00305516],
       [ 0.0517916 ],
       [-0.0162893 ],
       [-0.01628926],
       [-0.01628926],
       [-0.03837296],
       [-0.04623941],
       [-0.04623941],
       [-0.04623941],
       [ 0.00463149],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00229265],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.00834111],
       [-0.01248339],
       [ 0.00130197],
       [ 0.00130197],
       [ 0.00130197],
       [ 0.03338728],
       [-0.05222124],
       [-0.05222124],
       [-0.05222124],
       [-0.04025314],
       [-0.00374155],
       [-0.00374155],
       [-0.00374155],
       [ 0.00163765],
       [ 0.00830166],
       [ 0.0179803 ],
       [ 0.0179803 ],
       [-0.00246347],
       [ 0.00626605],
       [ 0.03580177],
       [ 0.03580177],
       [ 0.06524505],
       [-0.04939959],
       [ 0.00544806],
       [ 0.00544806],
       [-0.01134427],
       [-0.00416757],
       [-0.00902137],
       [-0.00902137],
       [ 0.00091113],
       [ 0.00229265],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.00863851],
       [ 0.00479293],
       [ 0.00479293],
       [-0.04717947],
       [ 0.02356391],
       [ 0.00914508],
       [ 0.00914508],
       [ 0.00541828],
       [-0.03582752],
       [-0.00757359],
       [-0.00757359],
       [-0.01782301],
       [-0.00374155],
       [-0.00374155],
       [-0.00374155],
       [ 0.00163764],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00229265],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.00863851],
       [ 0.00479293],
       [ 0.00479293],
       [ 0.00479293],
       [ 0.01188615],
       [-0.04022272],
       [ 0.00914508],
       [ 0.00914508],
       [ 0.02748198],
       [-0.01940687],
       [-0.00757359],
       [-0.00757359],
       [-0.00757359],
       [-0.01782301],
       [-0.00374155],
       [-0.00374155],
       [-0.00374155],
       [ 0.00163765],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00377249],
       [ 0.00229265],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.00834111],
       [ 0.0086385 ]], dtype=float32)

In [121]:
##Transformback to original form
train_predict=scaler.inverse_transform(train_predict)
test_predict=scaler.inverse_transform(test_predict)
test_predict[test_predict > 10.0] = 1
test_predict[test_predict < 10.0] = 0

In [122]:
from sklearn import metrics

In [123]:
print(metrics.mean_absolute_error(y_test, test_predict))

0.02734375

In [124]:
from sklearn.metrics import accuracy_score

In [125]:
accuracy_score(y_test, test_predict)

0.97265625

In [126]:

print(np.sqrt(metrics.mean_squared_error(y_test, test_predict)))

0.16535945694153692

In [127]:
print(metrics.mean_squared_error(y_test, test_predict))

0.02734375